  SUBSYSTEM=="tty", KERNEL=="tnt0", GROUP="dialout", MODE="0660", SYMLINK+="ttyS10"
  SUBSYSTEM=="tty", KERNEL=="tnt1", GROUP="dialout", MODE="0660", SYMLINK+="ttyS11"
  SUBSYSTEM=="tty", KERNEL=="tnt2", GROUP="dialout", MODE="0660", SYMLINK+="ttyS12"
  SUBSYSTEM=="tty", KERNEL=="tnt3", GROUP="dialout", MODE="0660", SYMLINK+="ttyS13"
  SUBSYSTEM=="tty", KERNEL=="tnt4", GROUP="dialout", MODE="0660", SYMLINK+="ttyS14"
  SUBSYSTEM=="tty", KERNEL=="tnt5", GROUP="dialout", MODE="0660", SYMLINK+="ttyS15"
  SUBSYSTEM=="tty", KERNEL=="tnt6", GROUP="dialout", MODE="0660", SYMLINK+="ttyS16"
  SUBSYSTEM=="tty", KERNEL=="tnt7", GROUP="dialout", MODE="0660", SYMLINK+="ttyS17"
  SUBSYSTEM=="tty", KERNEL=="tnt8", GROUP="dialout", MODE="0660", SYMLINK+="ttyS18"
  SUBSYSTEM=="tty", KERNEL=="tnt9", GROUP="dialout", MODE="0660", SYMLINK+="ttyS19"
  SUBSYSTEM=="tty", KERNEL=="tnt10", GROUP="dialout", MODE="0660", SYMLINK+="ttyS20"
  SUBSYSTEM=="tty", KERNEL=="tnt11", GROUP="dialout", MODE="0660", SYMLINK+="ttyS21"
  SUBSYSTEM=="tty", KERNEL=="tnt12", GROUP="dialout", MODE="0660", SYMLINK+="ttyS22"
  SUBSYSTEM=="tty", KERNEL=="tnt13", GROUP="dialout", MODE="0660", SYMLINK+="ttyS23"
  SUBSYSTEM=="tty", KERNEL=="tnt14", GROUP="dialout", MODE="0660", SYMLINK+="ttyS24"
  SUBSYSTEM=="tty", KERNEL=="tnt15", GROUP="dialout", MODE="0660", SYMLINK+="ttyS25"
